body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.bg-info {
    padding: 15px;
}

.bg-success {
    padding: 15px;
}

.padded {
    padding: 15px;
}